<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <ResourcePreloader />
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap" rel="stylesheet" />
    <link href="_content/Microsoft.FluentUI.AspNetCore.Components/css/reboot.css" rel="stylesheet" />
    <link rel="stylesheet" href="@Assets["css/healthcare-enterprise.css"]" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["HealthCare.Web.styles.css"]" />
    <ImportMap />
    <HeadOutlet @rendermode="InteractiveServer" />
    <script src="_content/Microsoft.FluentUI.AspNetCore.Components/js/loading-theme.js" type="text/javascript"></script>
    <loading-theme storage-name="hc-theme" mode="light" primary-color="#0F766E"></loading-theme>
</head>

<body class="hc-body">
    <Routes @rendermode="InteractiveServer" />
    <ReconnectModal @rendermode="InteractiveServer" />
    <script src="_content/Microsoft.FluentUI.AspNetCore.Components/Microsoft.FluentUI.AspNetCore.Components.lib.module.js" type="module" async></script>
    <script src="@Assets["_framework/blazor.web.js"]"></script>
</body>

</html>
